/* 尾部位置 */
.con{
	background-color: #F3F3F3;
} 
#con_nav{
	width:1200px;
	height: 205px;
	background-color: #F3F3F3;
	margin: 24px auto 0px auto;
	padding: 45px 0px 0px;
	text-align: center;
	color: #484848;
	font-size: 14px;
}
#con_nav>div{
	padding-top: 20px;
	padding-bottom: 25px;
}
#con_nav>div span{
	height: 20px;
    padding: 0px 35px;
    border-right: 1px solid #AAAAAA;
}
#con_nav>div span:last-child{
	border: 0px;
}
